{% extends "partials/base.html" %} {% load static %} {% block content %}
<div class="About-bg custom-title">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aboutheading">
          <h3>Satın al</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<br />

{% if messages %} {% for message in messages %}
      <div class="alert alert-{{message.tags}} custom-title">{{message}}</div>
      {% endfor %} {% endif %}
      
{% endblock %}
