{% extends "partials/base.html" %} 
{% load static %} 

{% block content %}

<form class="custom-form" method="post">
    {% csrf_token %}
    <div class="text-center mb-4">
      <img
        class="mb-4 custom-logo"
        src="{% static 'images/logo.png' %}"
        alt=""
        width="72"
        height="72"
      />
      <h1 class="h3 mb-3 font-weight-normal">Kelebek Sistemi</h1>
      <p>Lütfen giriş yapın</p>
    </div>
  
    <div class="form-floating">
      {{ form.username }}
      <label for="inputField">Kullanıcı adı</label>
    </div>
    <br />
    <div class="form-floating">
      {{ form.password }}
      <label for="inputField">Parola</label>
    </div>
    <br />
    <span
      >Hesabın yok mu? Hemen bir tane
      <a href="/accounts/register">oluştur!</a></span
    ><br />
    <span>Parolanı mı unuttun? <a href="#">Yenisini al!</a></span>
    <br /><br />
    <button class="btn btn-lg btn-primary btn-block" type="submit">
      Giriş yap
    </button>
    <p class="mt-5 mb-3 text-muted text-center">© 2023</p>
  </form>



{% endblock %}