{% load static %}
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <a href="#"
          ><img src="{% static 'images/footer_logo.png' %}" alt="#"
        /></a>
        <ul class="contact_information">
          <li>
            <span
              ><img
                src="{% static 'images/location_icon.png' %}"
                alt="#" /></span
            ><span class="text_cont">London 145<br />United Kingdom</span>
          </li>
          <li>
            <span
              ><img src="{% static 'images/phone_icon.png' %}" alt="#" /></span
            ><span class="text_cont">987 654 3210<br />987 654 3210</span>
          </li>
          <li>
            <span
              ><img src="{% static 'images/mail_icon.png' %}" alt="#" /></span
            ><span class="text_cont"
              >demo@gmail.com<br />support@gmail.com</span
            >
          </li>
        </ul>
        <ul class="social_icon">
          <li>
            <a href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-google-plus"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6">
        <div class="footer_links">
          <h3>Quick link</h3>
          <ul>
            <li>
              <a href="#"
                ><i class="fa fa-angle-right" aria-hidden="true"></i> Home</a
              >
            </li>
            <li>
              <a href="#"
                ><i class="fa fa-angle-right" aria-hidden="true"></i>
                Features</a
              >
            </li>
            <li>
              <a href="#"
                ><i class="fa fa-angle-right" aria-hidden="true"></i> Evens</a
              >
            </li>
            <li>
              <a href="#"
                ><i class="fa fa-angle-right" aria-hidden="true"></i>
                Markrting</a
              >
            </li>
            <li>
              <a href="#"
                ><i class="fa fa-angle-right" aria-hidden="true"></i> Blog</a
              >
            </li>
            <li>
              <a href="#"
                ><i class="fa fa-angle-right" aria-hidden="true"></i>
                Testimonial</a
              >
            </li>
            <li>
              <a href="#"
                ><i class="fa fa-angle-right" aria-hidden="true"></i> Contact</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
