{% load static %}
<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-12 col-md">
      <img class="mb-2" src="{% static '/images/favicon.ico' %}" alt="" width="48" height="48">
      <small class="d-block mb-3 text-muted">© 2023</small>
    </div>
    <div class="col-12 col-md text-right">
      <h5>Hakkımızda</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="/about/developers">Ekip</a></li>
        <li><a class="text-muted" href="/about/contact">İletişim</a></li>
        <li><a class="text-muted" href="/about/privacy-terms">Gizlilik & Şartlar</a></li>
      </ul>
    </div>
  </div>
</footer>