{% load static %}
<header>
  <!-- header inner -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 logo_section">
        <div class="full">
          <div class="center-desk">
            <div class="logo">
              <a class="text-logo" href="/">Kelebek Sistemi</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="menu-area">
          <div class="limit-box">
            <nav class="main-menu">
              <ul class="menu-area-main">
                <!--Registration-->
                <li
                  class="nav-item {% if '/' == request.path %}active {% endif %}"
                >
                  <a class="nav-link" href="/">Ana Sayfa</a>
                </li>
                <li
                  class="nav-item {% if '/announcements' in request.path %}active {% endif %}"
                >
                  <a class="nav-link" href="/announcements">Duyurular</a>
                </li>
                <li
                  class="nav-item {% if '/about' in request.path %}active {% endif %}"
                >
                  <a class="nav-link" href="/about">Hakkımızda</a>
                </li>
                <li
                  class="nav-item {% if '/contacts' in request.path %} active {% endif %}"
                >
                  <a class="nav-link" href="/contacts">İletişim</a>
                </li>
                <li
                  class="nav-item {% if '/purchases' in request.path %} active {% endif %}"
                >
                  <a class="nav-link" href="/purchases">Satın al</a>
                </li>

                <!--Divider-->
                <li class="nav-divider"></li>
                <li class="nav-divider"></li>
                <li class="nav-divider"></li>

                <!--Registration-->
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a
                    class="navbar nav-link"
                    href="{% if user.username == 'admin' %}/admin{% else %}/accounts/dashboard{% endif %}"
                    >{{user.username}}</a
                  >
                </li>
                <li class="nav-item">
                  <a class="navbar nav-link" href="/accounts/logout"
                    >Çıkış yap</a
                  >
                </li>
                {% else %}
                <li
                  class="nav-item {% if '/accounts/login' in request.path %} active {% endif %}"
                >
                  <a class="nav-link" href="/accounts/login">Giriş yap</a>
                </li>
                <li
                  class="nav-item {% if '/accounts/register' in request.path %} active {% endif %}"
                >
                  <a class="nav-link" href="/accounts/register">Kaydol</a>
                </li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
